<!DOCTYPE html>
<html>
	<head>
		<title>Oppai As A Service</title>
		<link href="//cdn.muicss.com/mui-0.5.6/css/mui.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="cont" class="mui-container-fluid">
			<div class="mui-panel">
				<h1>Oppai as a service</h1>
				<h4>Because who can be bothered to set up oppai on their local machine anyway.</h4>
				<button id="label-click" class="mui-btn mui-btn--raised mui-btn--primary">Upload!</button>
				<input id="file" type="file" name="replay" multiple>
			</div>
		</div>
		{{ if .Elements }}
			{{ range $k, $v := .Elements }}
				<div class="box">
					{{ $v }}
				</div>
			{{ end }}
		{{ end }}
		<!-- TODO: combine & minify -->
		<script src="//cdn.muicss.com/mui-0.5.6/js/mui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
		<script src="https://cdn.rawgit.com/blueimp/jQuery-File-Upload/master/js/vendor/jquery.ui.widget.js"></script>
		<script src="https://cdn.rawgit.com/blueimp/jQuery-File-Upload/master/js/jquery.fileupload.js"></script>
		<script src="/static/script.js"></script>
	</body>
</html>
