<!DOCTYPE html>
<html>
	<head>
		<title>Oppai As A Service</title>
		<link href="//cdn.muicss.com/mui-0.5.6/css/mui.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="cont" class="mui-container-fluid">
			<div class="mui-panel">
				<h1>Oppai as a service</h1>
				<h4>Because who can be bothered to set up oppai on their local machine anyway.</h4>
				<p><b>Instructions:</b> use that big fancy upload button to upload your .osr files, and we'll do the magic. You can also calculate PP of an unsubmitted beatmap, but you have to upload the .osu file of the replay you wish to upload. Don't worry, we won't share it around :).</p>
				<p><a href="https://github.com/thehowl/oppai-as-a-service">Source code</a></p>
				<button id="label-click" class="mui-btn mui-btn--raised mui-btn--primary">Upload!</button> <span class="mui--text-dark-secondary">(... or drag and drop a file to this window! we'll take care of it.)</span>
				<input id="file" type="file" name="replay" multiple>
			</div>
		</div>
		<script src="/static/vendor.js"></script>
		<script src="/static/script.js"></script>
		{{ if .elements }}
			<script>
				{{ range $key, $value := .elements}}
					printResult(genPanel(), {{ $value }}, true);
				{{ end }}
			</script>
		{{ end }}
	</body>
</html>
